{% extends 'layout.html' %}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{{url_for('static',filename='assets/img/home-bg.jpg')}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>The Coding Thunder</h1>
                    <span class="subheading">A Blog Liked By Programmers</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for post in pagination.items %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="/post/{{post.slug}}">
                    <h2 class="post-title">{{post.title}}</h2>
                    <h3 class="post-subtitle">{{post.tag_line}}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Admin</a>
                    on {{post.date}}
                </p>
            </div>
            {{post.content[0:45]}}...
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
            <!-- Pager-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
                        <a class="page-link" href="{{ url_for('home', page=pagination.prev_num) }}">Previous</a>
                    </li>

                    {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)
                    %}
                    {% if page_num %}
                    <li class="page-item {% if pagination.page == page_num %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                    {% endif %}
                    {% endfor %}

                    <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
                        <a class="page-link" href="{{ url_for('home', page=pagination.next_num) }}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}